body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#020617;
font-family:Arial;
color:white;
}

.hero{
text-align:center;
}

.titulo{
font-size:40px;
margin-bottom:50px;
}

/* BOTON */
.boton-expandible{
width:260px;
padding:18px;
border:2px solid #38bdf8;
border-radius:12px;
overflow:hidden;
cursor:pointer;
transition:0.4s;
background:#020617;
}

/* TITULO */
.boton-titulo{
font-size:22px;
font-weight:bold;
text-align:center;
}

/* DESCRIPCION OCULTA */
.boton-descripcion{
margin-top:15px;
opacity:0;
max-height:0;
transition:0.4s;
color:#cbd5f5;
}

/* 🔥 EFECTO EXPANSION */
.boton-expandible:hover{
background:#0f172a;
box-shadow:0 0 20px #38bdf8;
}

/* SE AGRANDA HACIA ABAJO */
.boton-expandible:hover .boton-descripcion{
opacity:1;
max-height:150px;
}