body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#020617;
font-family:Arial, sans-serif;
color:white;
}

.hero{
text-align:center;
}

.titulo{
font-size:40px;
margin-bottom:50px;
}

/* TARJETA BOTON */
.card{
width:260px;
padding:25px;
border-radius:15px;
border:2px solid #38bdf8;
cursor:pointer;
transition:0.4s;
overflow:hidden;
background:#020617;
}

/* TEXTO PRINCIPAL */
.card-titulo{
font-size:22px;
font-weight:bold;
}

/* DESCRIPCION OCULTA */
.card-descripcion{
margin-top:15px;
opacity:0;
max-height:0;
transition:0.4s;
color:#cbd5f5;
}

/* 🔥 HOVER (MAGIA) */
.card:hover{
transform:scale(1.08);
background:#0f172a;
box-shadow:0 0 25px #38bdf8;
}

.card:hover .card-descripcion{
opacity:1;
max-height:200px;
}